*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: auto;
	padding: 0;
	border: 0;
	font-family: sans-serif;
}

address, article, aside, canvas, details, figcaption, figure, footer,
form, header, hgroup, menu, nav, section, summary {
	display: block;
}

body {
	margin:10px auto;
	text-align: center;
	font-family: "Lato","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: #060606;
	text-rendering: optimizeLegibility;
}

a {
       text-decoration: none;
}

a:link,
a:visited {
	color:#fff;
}

::placeholder {
    color: #fff;
}


h1 {
    font-size: 50px;
}
 .big_wrapper{
    display: block;
    background-image: -webkit-linear-gradient(right top, rgba(199,53,56,1), rgba(245,133,41,0.8)), url(./img/pattern.jpg); 
     background-repeat: no-repeat;
     background-size: cover;
	border: none;
	text-align: left;
	width: 800px;
	overflow-x:auto;
	
	}
header{
    background-image: url(./img/logo_red.png);
    margin: 15px auto;
    width: 439px;
    height: 271px;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default) {
  display: block;
  color:#fff;    
  background-color: transparent;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 50%;
  font-size: 16px;
  margin: 10px auto 20px auto;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

input[type=text]:not(.browser-default):focus,
input[type=password]:not(.browser-default):focus,
input[type=email]:not(.browser-default):focus {
    border-bottom: 1px solid #af4c5b;
    -webkit-box-shadow: 0 1px 0 0 #af4c5b;
          box-shadow: 0 1px 0 0 #af4c5b;
}

form {
    margin: 20px auto;
    text-align: center;
}


table {
    margin: 0px auto;
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	color: #fff;
    
}

.usm_maintable {
    color: #b06d01;
}

.meal_table {
    margin:10px auto;
    padding: 20px 20px;
    width: 700px;
    height:auto;
    background-color: rgba(202, 227, 189, 0.16);
    border-radius: 20px;
}

tr {
    background: rgba(63, 121, 188, 0.2);
     border-top:20px solid rgba(255, 255, 255, 0.91);
     border-left:5px solid rgba(255, 255, 255, 0.91);
     border-right:5px solid rgba(255, 255, 255, 0.91);
    
}


td {
	font-size: 20px;
    font-weight:700;
	line-height:2;
	overflow-x: auto;
    padding-left: 30px;
    border: 1px solid #fff;
    text-align: center;
}




/* Select Field
   ========================================================================== */


select {
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
}


 .btn {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  display: block;
    width: 80px;
    margin: 20px auto;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}


.btn {
  font-size: 14px;
  outline: 0;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}


.new-user{
     margin-top: 40px;
}


.frmparag {
    text-decoration: underline;
}

/* .usm_maintable .user_menu_chars button {
    letter-spacing: 2px;
    font-family: "Lato";
    
} */
.usermenu_addbtn {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 80px;
    margin: 20px auto;
       
    border: none;
    border-radius: 30px;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    outline: 0;
    
    text-decoration: none;
    color: #fff;
    background-color: rgba(209, 185, 145, 0.74);
    text-align: center;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    
   }
   
   .usermenu_addbtn:hover {
       background-color: rgba(245, 217, 170, 0.74);
   }
   
   .usermenu_addbtn:active {
       background-color: rgba(67, 60, 49, 0.74);
   }

.user_menu {
    display:block;
    margin: 0px auto;
    text-transform: uppercase;
    background-image: none;
    background-color: rgba(199, 53, 56, 0.53);
    width: 100%;
    height: auto;
}
.user_menu h1 {
    margin: 0px 250px 0px 315px;
   display: inline-block;
 
}

.user_menu_foodimage {
    margin-right: 15px;
    margin-bottom: 5px;
    position:relative;
}

.meal_table span {
    color: #fff;
    font-size: 16px;
    display: block;
}

.user_menu_chars{
    letter-spacing: 2px;
    font-family: "Lato";
}


.umchar {
    padding-left: 58px;
}

.user_menu_chars div {
    word-spacing: 1px;
    font-family: "Lato";
}
.user_menu_chars span {
    font-family: "Lato";
}

.meal_table .user_menu_item {
    position: relative;
    background-color: #fff;
    width: 50%;
    margin-top: -13px;
    z-index: 10;
}

.yourorder span {
    color: #433743;
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.yourorder span:hover {
    color: aquamarine;
}


.usernav {
    text-align: left;
    display: inline-block;
    background-color: rgb(69, 11, 11);
    width: 100%;
    height: 55px;
}


/* Icons */
.icon-big {
    padding-left:100px;
	font-size:300%;
	color:#e67e22;
}
.icon-big:hover {
     color:#5c4735;
}

.loggeduser {
    margin-left:100px;
    font-size: 15px;
   color:#f3faa3;
    background-color: #4d2624;
}
.log-out-ic-big {
    display: inline-block;
	font-size:250%;
   
}
.log-out-ic-big:hover {
    color:#5c4735;
}
.icon-items {
    padding-left:80px;
	font-size:250%;
	color:#e67e22;
}
.addremove {

    display: inline-block;
}

.admenu_button:hover {
    color: #324617;
}

.admenu_button:visited {
    color: #8e81f0;
}

.allorder {
    margin-left: 60px;
    margin-bottom: 20px;
}
.reload_done {
    display: block;
}
.modifymealprice {
    font-size: 30px;;
}

.rightform {
    width: 60%;
    margin-left: 10px;
    display: inline-block;
}

.Available_Meals{
    position: absolute;
    background-color: rgba(125, 95, 180, 0.58);
    margin-left: 340px;
    width: 20%;
    padding: 20px;
}
.Available_Meals h2 {
    text-align: center;
    margin-bottom: 5px;
}

.Available_Meals div {
    margin-bottom: 10px;
    border: 1px solid #fff;
}

.Available_Meals p {
    margin-left: 1%;
    background-color: rgba(240, 246, 255, 0.15);
    font-size: 20px;
    margin-bottom: 0px;
}

.Available_Meals span {
    color:rgba(252, 255, 255, 0.91);    
    margin-left: 90%;
    background-color: rgba(56, 108, 160, 0.22);
}